#controls {
	font-family:monospace;
	font-size:24px;
	font-weight:bold;
	margin: 15px;
}

#controls * {
	margin: 5px;
	display:inline-block;
	
}

.play {
	padding: 0.5em 1.5em;
    margin: 0.5em;
	background-color:#e0d336;;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	color: #000000;
	text-decoration:none;
	text-align: center;
}

.play:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background-color:#378de5;
}

.play:active {
	position:relative;
	top:1px; left: 1px;
}

#showTempo { 
	display: inline-block;
	width: 45px; 
}

#showSwing { 
	display: inline-block;
	width: 40px; 
}

* {
    -webkit-user-select: none;
}

body, html {
    height: 100%;
	position: relative;
	padding: 0; margin: 0;
    text-align: center;
    background: #000000;
    color: #e0d336;
    font-family: monospace;
}
body {
    overflow: auto;
}
